<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book Appointment with {{ doctor.doctor_name }}</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="time">Select a time:</label>
        <select name="time" id="time">
            <option value="">--- Select a time ---</option>
            
                <option value="10Am - 11Am">10Am - 11Am </option>
                <option value="11Am - 12Pm">11Am - 12Pm </option>
                <option value="1Pm - 2Pm">1Pm - 2Pm </option>
                <option value="2Pm - 3Pm">2Pm - 3Pm </option>
                <option value="4Pm - 5Pm">1Pm - 2Pm </option>
                
            
        </select>
        <br>
        <label for="patient_name">Patient Name:</label>
        <input type="text" name="patient_name" id="patient_name">
        <br>
        <label for="patient_name">Symptom:</label>
        <input type="text" name="symptom" id="patient_name">
        <br>
        <input type="submit" value="Book Appointment">
    </form>
    {% if time %}
    <p>You have booked an appointment with {{ doctor.doctor_name }} at {{ time }} for {{ patient_name }}.</p>
    {% endif %}
</body>
</html>

